[submodule ".registry"]
	path = .registry
	url = https://github.com/kpagacz/kpagacz.r-universe.dev
	branch = HEAD
[submodule "tergo"]
	path = tergo
	url = https://github.com/kpagacz/tergo
	subdir = antidotum/tergo
